{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %}
<!-- Main :: Start-->
<main class="main">
	<!-- Breadcrumbs :: Start-->
	<div class="breadcrumbs">
	  <div class="container-fluid">
		<h1 class="breadcrumbs__title">{{ heading_title }}</h1>
		<ul class="breadcrumbs__menu">
		{% for i,breadcrumb in breadcrumbs %}
			{% if (i + 1 < breadcrumbs|length) %} 
			<li><a class="breadcrumbs__link" href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a></li>
			{% else %} 
			<li>{{ breadcrumb.text }}</li>
			{% endif %}
		{% endfor %}
		</ul>
	  </div>
	</div>
	<!-- Breadcrumbs :: End-->
       <!-- Contact :: Start-->
	<div class="contact">
	{{ content_top }}
		<div class="row">
		{{ column_left }}
		<div class="col-xl-{{ col }}">
			<div class="contacts">
				{% if contact_map %} 
				<div class="contacts__map" id="contacts__map"></div>
				{% endif %}
				<div class="contacts__wrapper">
					<div class="container-fluid">
						<div class="contacts__data">
							<div class="row">
								<div class="col-xl">
									<div class="row">
										<div class="col-lg-4">
											<div class="contacts__data-group">
												<span class="h2 contacts__data-title">{{ text_prostore_address_main }}</span>
												{% if comment %}
												<p class="contacts__data-text">{{ comment }}</p>
												{% endif %}
												<dl class="contacts__data-dl">
													{% if prostore_phones %} 
													<dt>{{ text_telephone }}</dt>
													<dd>
														<ul class="contacts__data-phones">
															{% for key, prostore_phone in prostore_phones %}
															<li>
																<a rel="nofollow" href="tel:{{ prostore_phone[language_id]|replace({' ': '', '-': '', '(': '', ')': ''}) }}">{{ prostore_phone[language_id] }}</a>
															</li>
															{% endfor %}
															{% if fax %}
															<li>
																{{ text_fax }}: {{ fax }}
															</li>
															{% endif %}
														</ul>
														{% if open_html %}
														<p class="contacts__data-worktime">{{ open_html }}</p>
														{% endif %}
													</dd>
													{% endif %}
													{% if shop_email %}
													<dt>{{ text_prostore_email }}</dt>
													<dd>
														<ul class="contacts__data-emails">
															<li>
																<a href="mailto:{{ shop_email }}">{{ shop_email }}</a>
															</li>
														</ul>
													</dd>
													{% endif %}
													{% if address %} 
													<dt>{{ text_prostore_address }}</dt>
													<dd>
														<address class="contacts__data-address">
														{% if geocode %}
															{% if (contact_map == 'google_map') %} 
																<svg class="icon-location"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-location"></use>
																</svg>
																<a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z={{ zoom }}" target="_blank">{{ address }}</a>
															{% elseif (contact_map == 'yandex_map') %}
																<svg class="icon-location"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-location"></use>
																</svg>
																<a href="https://yandex.ru/maps/?pt={{ geocodeY|url_encode }}&z={{ zoom }}&l=map" target="_blank">{{ address }}</a>
															{% else %}
																{{ address }}
															{% endif %}
														{% else %}
															{{ address }}
														{% endif %}
														</address>
													</dd>
													{% endif %}
												</dl>
											</div>
										</div>
										{% if our_details %} 
										<div class="col-lg-8">
											<div class="contacts__data-group">
												<span class="h2 contacts__data-title">{{ text_prostore_our_details }}</span>
												<p class="contacts__data-text">{{ text_prostore_our_details_1 }}</p>
												<div class="contacts__data-requisites">
													<div class="row">
														{% for our_details_row in our_details|batch((our_details|length / 3)|round(1, 'ceil')) %}
														<div class="col-md-4">
															<dl>
																{% for key, our_detail in our_details_row %}
																<dt>{{ our_detail[language_id].name }}</dt>
																<dd>{{ our_detail[language_id].text }}</dd>
																{% endfor %}
															</dl>
														</div>
														{% endfor %}
													</div>
												</div>
											</div>
										</div>
										{% endif %}
									</div>
								</div>
								<div class="col-xl-auto">
									<div class="contacts__data-form">
										<form action="{{ action }}" method="post" enctype="multipart/form-data">
											<span class="ui-legend">{{ text_prostore_faq_ask }}</span>
											<label class="ui-label">{{ entry_name }}</label>
											<div class="ui-field {{ error_name ? 'is-error' : ''}}">
											<input class="ui-input" type="text" value="{{ name }}" name="name" placeholder="{{ entry_name }}">
											{% if (error_name) %} 
												<span class="error ui-error">{{ error_name }}</span>
											{% endif %} 
											</div>
											<label class="ui-label">{{ entry_email }}</label>
											<div class="ui-field {{ error_email ? 'is-error' : ''}}">
											<input class="ui-input" type="email" value="{{ email }}" name="email" placeholder="{{ entry_email }}">
											{% if (error_email) %} 
												<span class="error ui-error">{{ error_email }}</span>
											{% endif %} 
											</div>
											<label class="ui-label">{{ entry_enquiry }}</label>
											<div class="ui-field {{ error_enquiry ? 'is-error' : ''}}">
											<textarea class="ui-textarea" name="enquiry" cols="30" rows="3" placeholder="{{ entry_enquiry }}" style="min-height: 8rem;resize: auto;height: unset;">{{ enquiry }}</textarea>
											{% if (error_enquiry) %} 
												<span class="error ui-error">{{ error_enquiry }}</span>
											{% endif %} 
											</div>
											{{ captcha }}
											<div class="ui-action">
												<button class="ui-btn ui-btn--primary ui-btn--fullwidth ui-btn--50">{{ button_prostore_sendbutton }}</button>
											</div>
											<div class="personal-data">{% if text_prostore_pdata %} 
											{{ text_prostore_pdata }}
											{% endif %}</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						{% if (locations) %} 
						<div class="contacts__shops">
							<span class="h2 contacts__shops-title">{{ text_store }}</span>
							<div class="contacts__shops-swiper">
								<div class="swiper-container swiper-shops js-swiper-shops">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="contacts__shops-item">
												{% if image %}
												<div class="contacts__shops-item-image">
													<img src="{{ image }}" alt="{{ name }}" width="340" height="180" loading="lazy">
												</div>
												{% endif %}
												<mark class="contacts__shops-item-mark">
													<svg class="icon-star-fill"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-star-fill"></use>
													</svg>{{ text_prostore_address_main }}
												</mark>
												<span class="h3 contacts__shops-item-title">{{ store }}, {{ address }}
												</span>
												{% if open_html %}
												<p class="contacts__shops-item-worktime">{{ open_html }}{% if comment %}<br>{{ comment }}{% endif %}</p>
												{% endif %}
												{% if telephone %}
												<ul class="contacts__shops-item-phones">
													<li>
														<a rel="nofollow" href="tel:{{ telephone|replace({' ': '', '-': '', '(': '', ')': ''}) }}">{{ telephone }}</a>
													</li>
												</ul>
												{% endif %}
												{% if fax %}
												<ul class="contacts__shops-item-phones">
													<li>
														{{ fax }}
													</li>
												</ul>
												{% endif %}
											</div>
										</div>
										{% for location in locations %}
										<div class="swiper-slide">
											<div class="contacts__shops-item">
												{% if location.image %}
												<div class="contacts__shops-item-image">
													<img src="{{ location.image }}" alt="{{ location.name }}" width="340" height="180" loading="lazy">
												</div>
												{% endif %}
												<span class="h3 contacts__shops-item-title">{{ location.name }},
												{% if location.geocode %}
												{% if (contact_map == 'google_map') %} 
												<a target="_blank" href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z={{ zoom }}" rel="nofollow">{{ location.address }}</a>
												{% elseif (contact_map == 'yandex_map') %}
												<a target="_blank" href="https://yandex.ru/maps/?pt={{ location.geocode|url_encode }}&z={{ zoom }}&l=map" rel="nofollow">{{ location.address }}</a>
												{% else %}
												{{ location.address }}
												{% endif %}
												{% endif %}
												</span>
												{% if location.open_html %}
												<p class="contacts__shops-item-worktime">{{ location.open_html }}{% if location.comment %}<br>{{ location.comment }}{% endif %}</p>
												{% endif %}
												{% if location.telephone %}
												<ul class="contacts__shops-item-phones">
													<li>
														<a rel="nofollow" href="tel:{{ location.telephone|replace({' ': '', '-': '', '(': '', ')': ''}) }}">{{ location.telephone }}</a>
													</li>
												</ul>
												{% endif %}
												{% if location.fax %}
												<ul class="contacts__shops-item-phones">
													<li>
														{{ location.fax }}
													</li>
												</ul>
												{% endif %}
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{{ column_right }}
		</div>

	{{ content_bottom }}
	</div>
	<!-- Contact :: End-->
</main>
<!-- Main :: End-->
{{ footer }}
{% if contact_map %}
{% if (contact_map == 'google_map') %} 
<script src="//maps.google.com/maps/api/js?key={{ api_key }}"></script>
{% elseif (contact_map == 'yandex_map') %} 
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endif %}
<script>

	// --------------------------------------------------------------------------
	// Map
	// --------------------------------------------------------------------------

	function initMap() {
	
{% if (contact_map == 'google_map') %} 

        var contactsMap = new google.maps.Map(document.getElementById('contacts__map'), {
            center: new google.maps.LatLng({{ geocode }}),
            zoom: {{ zoom }},
			zoomControl: {{ zoom_control ? 'true' : 'false' }},
			disableDefaultUI: true
        });

        // Add marker

        var icon = {
			{% if contact_map_icon %} 
            url: '{{ contact_map_icon }}',
			//path: "M16 0.179c-6.090 0-11.045 4.955-11.045 11.045 0 1.694 0.374 3.32 1.116 4.842 1.021 2.050 4.011 7.105 7.176 12.456l1.542 2.608c0.253 0.428 0.713 0.691 1.211 0.691s0.958-0.263 1.211-0.691l1.541-2.606c3.144-5.314 6.115-10.336 7.156-12.414 0.009-0.018 0.019-0.036 0.028-0.055 0.737-1.513 1.11-3.138 1.11-4.831 0-6.090-4.955-11.045-11.045-11.045zM16 15.23c-2.423 0-4.395-1.971-4.395-4.395s1.972-4.395 4.395-4.395c2.423 0 4.395 1.972 4.395 4.395s-1.972 4.395-4.395 4.395z",
			{% else %}
			path: "M5.03218 0C2.25742 0 0 2.25742 0 5.03215C0 8.47568 4.50331 13.531 4.69504 13.7445C4.87513 13.9451 5.18956 13.9447 5.36932 13.7445C5.56105 13.531 10.0644 8.47568 10.0644 5.03215C10.0643 2.25742 7.80691 0 5.03218 0ZM5.03218 7.56397C3.63613 7.56397 2.50039 6.4282 2.50039 5.03215C2.50039 3.6361 3.63616 2.50036 5.03218 2.50036C6.4282 2.50036 7.56394 3.63613 7.56394 5.03218C7.56394 6.42823 6.4282 7.56397 5.03218 7.56397Z",
            size: new google.maps.Size(48, 48),
			strokeColor: '#F45656',
			fillColor: '#F45656',
			fillOpacity: 1.0,
			scale: 3,
            anchor: new google.maps.Point(5, 12)
			{% endif %}
        };

        var contactsMarker = new google.maps.Marker({
            map: contactsMap,
            position: new google.maps.LatLng({{ geocode }}),
            icon: icon,
        });

{% elseif (contact_map == 'yandex_map') %} 

		if ($('#contacts__map').length) {
			ymaps.ready(function () {
			var myMap = new ymaps.Map("contacts__map", {
					center: [{{ geocode }}],
					zoom: {{ zoom }},
					controls: []
				}, {
					searchControlProvider: 'yandex#search'
				}),


		MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
            '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
        ),

		{% if not contact_map_icon %}
        MyIconLayout = ymaps.templateLayoutFactory.createClass([
            '<svg width="48" height="48" style="position: absolute; top: -24px; left: -24px;">',
                '<use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-location"></use>',
            '</svg>'
        ].join('')),

        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: '{{ store }}'
        }, {
            iconLayout: MyIconLayout,
            iconImageHref: "{{ contact_map_icon ? contact_map_icon : 'catalog/view/theme/prostore/images/pin.svg' }}"
        });
		{% else %}
        myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
            hintContent: '{{ store }}'
        }, {
            iconLayout: 'default#image',
            iconImageHref: "{{ contact_map_icon }}",
            iconImageSize: [32, 50]
        });
		{% endif %}

    myMap.geoObjects.add(myPlacemark);
	myMap.behaviors.disable('scrollZoom'); 
		
		{% if (zoom_control) %} 
		myMap.controls.add('zoomControl', {
		    float: 'none',
		    size: 'small',
		    position: {
		        right: 20,
		        bottom: 50
		    }
		});
		{% endif %} 

		var isMobile = {
			Android: function () {
				return navigator.userAgent.match(/Android/i)
			},
			BlackBerry: function () {
				return navigator.userAgent.match(/BlackBerry/i)
			},
			iOS: function () {
				return navigator.userAgent.match(/iPhone|iPad|iPod/i)
			},
			Opera: function () {
				return navigator.userAgent.match(/Opera Mini/i)
			},
			Windows: function () {
				return navigator.userAgent.match(/IEMobile/i)
			},
			any: function () {
				return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows())
			}
		}
		if (isMobile.any()) {
			myMap.behaviors.disable('drag')
		}
		
			});
		}

{% endif %}

	}

$(function() {
	initMap();
	var $errors = $('#contact-form .error.ui-error') ;
	if($errors.length){
		$("#contact_popup").trigger('click');
	}
});
</script>
{% endif %}
{% if schema %} 
<!-- Schema Org :: Start-->
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
	{% for i,breadcrumb in breadcrumbs %}
	{
	  "@type": "ListItem",
	  "position": {{ i + 1 }},
	  "item": {
		"@id": "{{ breadcrumb['href'] }}",
		"name": "{{ breadcrumb['text'] }}"
	  }
	}{% if (i + 1 < breadcrumbs|length) %},{% endif %}
	{% endfor %}
	]
}
</script>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Store",
	"name": "{{ store }}",
	{% if (image) %}
	"image": "{{ image }}",
	{% endif %}
	{% if (telephone) %}
	"telephone": "{{ telephone }}",
	{% endif %}
	{% if (contact_map == 'google_map') %}
	"hasMap": "https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z={{ zoom }}",
	{% elseif (contact_map == 'yandex_map') %}
	"hasMap": "https://yandex.ru/maps/?pt={{ geocode|url_encode }}&z={{ zoom }}&l=map",
	{% endif %}
	{% if (shop_email) %}
	"email": "{{ shop_email }}",
	{% endif %}
	"address":
	{
	"@type": "PostalAddress",
	"streetAddress": "{{ address_schema }}"
	}
	{% if (locations) %} 
	,
	"department": [
	{% for i,location in locations %}
	{
	"@type": "Store",
	"name": "{{ location.name }}",
	{% if location.telephone %}
	"telephone": "{{ location.telephone }}",
	{% endif %}
	{% if location.image %}
	"image": "{{ location.image }}",
	{% endif %}
	"address":
	{
	  "@type": "PostalAddress",
	  "streetAddress": "{{ location.address_schema }}"
	}
	}
	{% if (i + 1 < locations|length) %},{% endif %}
	{% endfor %}
	]
	{% endif %}
}
</script>
 <!-- Schema Org :: End-->
{% endif %}
</body></html>