{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %}
<!-- Main :: Start-->
<main class="main">
	<!-- System :: Start-->
	{{ content_top }}
	<div class="container-fluid">
		<div class="row">
		{{ column_left }}
		<div class="col-xl-{{ col }}">
				<div class="container-fluid">
					<div class="system">
						{% if logo_404 %}
						<div class="system__image">
							<img src="{{ logo_404 }}" alt="{{ text_error }}" loading="lazy">
						</div>
						{% else %}
						<picture class="system__image">
							<source type="image/webp" srcset="catalog/view/theme/prostore/images/img-page-not-found.webp">
							<img src="catalog/view/theme/prostore/images/img-page-not-found.png" alt="{{ text_error }}" width="136" height="136" loading="lazy">
						</picture>
						{% endif %}
						<h1 class="system__title">{{ text_error }}</h1>
						<p class="system__text">{{ text_404 }}</p>
					</div>
				</div>
		</div>
		{{ column_right }}
		</div>
	</div>
	{{ content_bottom }}
	<!-- System :: End-->
</main>
<!-- Main :: End-->
{{ footer }}</body></html>