{% if (reviews is not empty) %}
<!-- Reviews Featured :: Start-->
<div class="reviews-featured is-xl-visible">
	<div class="align-items-center">
		<span class="h2 reviews-featured__title">{{ heading_title }}</span>
	</div>
	{% for review in reviews %}
		<div class="reviews-featured__item reviews-featured__item--aside">
			<div class="reviews-featured__item-head">
				<div class="reviews-featured__item-product">
					<div class="reviews-featured__item-product-image">
						<img src="{{ review.thumb }}" alt="{{ review.name }}" width="45" height="45" {% if lazyload %}loading="lazy"{% endif %}>
					</div>
					<span class="reviews-featured__item-product-title">{{ review.name }}</span>
				</div>
			</div>
			<div class="reviews-featured__item-body">
				<p>{{ review.description }}</p>
				<span>{{ review.date_added }}</span>
				<a href="{{ review.href }}">{{ text_all }} </a>
			</div>
			<div class="reviews-featured__item-foot">
				<span class="reviews-featured__item-letter">{{ review.author|first|upper }}</span>
				<span class="reviews-featured__item-title">{{ review.author }} <small>{{ text_rate }} <span class="ui-rate">{{ review.rating }}<svg class="icon-star"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-star"></use>
							</svg>
						</span>
					</small>
				</span>
			</div>
		</div>
	{% endfor %}
</div><!-- Reviews Feautred :: End-->
{% endif %}