<!-- Intro :: Start-->
<div class="intro">
	<div class="">
		<div class="row">
			<div class="col-xl-12">
				<div class="intro__swiper">
					<div class="swiper-container swiper-intro js-swiper-intro" {% if slide_fade %}data-swiper-effect="{{ slide_fade }}"{% endif %} data-swiper-speed="{{ speed*100 }}" {% if autoplay %}data-swiper-auto="{{ autoplay*1000 }}"{% endif %}>
						<div class="swiper-wrapper">
						{% for i,banner1 in banners %} 
						{% for banner in banner1 %}
						{% if (banner['position'] == 1) %}
							<div class="swiper-slide" >
								{% if img_link %}<a href="{{ banner['link'] }}" style="background: url('{{banner['image']}}') no-repeat; background-size: cover; background-position: 100% 45%;" class="intro__item">{% else %}<div class="intro__item">{% endif %}
									<div class="container-fluid">
										<div class="row">
											<div class="col-12">
												<div class="intro__item-desc {% if banner['text_color'] == '1' %}intro__item-desc--dark{% endif %}">
													{% if (banner['title']) %}
<!-- 													<ul class="intro__item-info">
														<li>{{ banner['title'] }}</li>
													</ul> -->
													{% endif %}
													{% if (banner['slider_text']) %}
													<span class="h2 intro__item-title">{{ banner['slider_text'] }}</span>
													{% endif %}
													{% if (banner['btn_text']) %}
														{% if img_link %}
															<div class="intro__item-price">
																<svg width="13" height="18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m4 4 5 5-5 5" stroke-linecap="round"/></svg>
																<p>{{ banner['btn_text'] }}</p>
															</div>
														{% else %}
															<a href="{{ banner['link'] }}" class="intro__item-price">{{ banner['btn_text'] }}</a>
														{% endif %}
													{% endif %}
												</div>
											</div>
										</div>
									</div>
 						{% if img_link %}</a>{% else %}</div>{% endif %}
							</div>
						{% endif %}
						{% endfor %}
						{% endfor %}
						</div>
						<div class="swiper-control">
							<button class="swiper-prev js-swiper-intro-prev">
								<svg class="icon-prev"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-prev"></use>
								</svg>
							</button>
							<button class="swiper-next js-swiper-intro-next">
								<svg class="icon-next"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-next"></use>
								</svg>
							</button>
						</div>
						<div class="container-fluid">
							<div class="swiper-pagination js-swiper-intro-pagination">
								{% for i,banner1 in banners %} 
								{% for banner in banner1 %}
								{% if (banner['position'] == 1) %}
									<div class="swiper-pagination-bullet"></div>
								{% endif %}
								{% endfor %}
								{% endfor %}
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- Intro :: End-->
