{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %}
<!-- Main :: Start-->
<main class="main">
	<!-- Breadcrumbs :: Start-->
	<div class="breadcrumbs">
	  <div class="container-fluid">
		<h1 class="breadcrumbs__title">{{ heading_title }}</h1>
		<ul class="breadcrumbs__menu">
		{% for i,breadcrumb in breadcrumbs %}
			{% if (i + 1 < breadcrumbs|length) %} 
			<li><a class="breadcrumbs__link" href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a></li>
			{% else %} 
			<li>{{ breadcrumb.text }}</li>
			{% endif %}
		{% endfor %}
		</ul>
	  </div>
	</div>
	<!-- Breadcrumbs :: End-->
	<!-- Page :: Start-->
	<div class="page">
	{{ content_top }}
	<div class="container-fluid">
		<div class="row personal__wrapper">
		{{ column_left|replace({'<div id="column-left" class="col-xl-3">': '<div id="column-left" class="col-xl-3 personal__sidebar">'}) }}
		<div class="col-xl-{{ col }}">
			{% if orders %}
			{% for order in orders %}
			<div class="personal__card">
				<div class="personal__card-head">
					<div class="row">
						<div class="col-auto">
							<span class="h3 personal__card-title">{{ text_prostore_my_single_order }} #{{ order.order_id }}</span>
						</div>
						<div class="col-auto">
							<p class="personal__card-date">{{ order.date_added }}</p>
						</div>
						<div class="col-12">
							<p class="personal__card-total">{{ order.text_total }}</p>
						</div>
						<div class="col-12">
							<p class="personal__card-total"><span class="ui-badge {% if order.status_style %}{{ order.status_style }}{% else %}ui-badge--yellow{% endif %}">{{ order.status }}</span></p>
						</div>
					</div>
				</div>
				<div class="personal__card-body">
					<div class="swiper-container swiper-products-order js-swiper-products-order">
						<div class="swiper-wrapper">
							{% for product in order.products_data %}
							<div class="swiper-slide">
								<div class="products__item products__item--small">
									<div class="products__item-in">
										<div class="products__item-buttons">
											<button class="ui-btn ui-btn--compare">
												<svg class="icon-compare"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-compare"></use>
												</svg>
											</button>
											<button class="ui-btn ui-btn--favorite">
												<svg class="icon-favorites"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-favorites"></use>
												</svg>
											</button>
										</div>
										<a href="{{product.href}}" class="products__item-image">
											<img src="{{ product.thumb }}" alt="[Alt]" width="200" height="200" loading="lazy">
										</a>
										<a href="{{product.href}}" class="h3 products__item-title">{{product.name}}</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="personal__card-foot">
					<a class="ui-btn ui-btn--grey ui-btn--fullwidth" href="{{ order.view }}">{{ text_prostore_my_order_btn }}<svg class="icon-arrow-right"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-right"></use>
						</svg>
					</a>
				</div>
			</div>
			{% endfor %}
			{% if pagination %}
			<div class="container-pagination">
				{{ pagination }}
			</div>
			{% endif %}
			{% else %}
			<div class="page__body">
				<p>{{ text_empty }}</p>
			</div>
			<div class="page__action">
				<a href="{{ continue }}" class="ui-btn ui-btn--primary">{{ button_continue }}</a>
			</div>
			{% endif %}		
		</div>
		{{ column_right }}
		</div>
	</div>
	{{ content_bottom }}
	</div>
	<!-- Page :: End-->
</main>
<!-- Main :: End-->
{{ footer }}
</body></html>