{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %}

<!-- Alerts :: Start-->
<div class="alerts-wrapper">
	{% if error_warning %}
	<div class="alert alert--red">
		<button class="alert__close">
			<svg class="icon-close-alerts"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-close-alerts"></use>
			</svg>
		</button>
		<p class="alert__text">{{ error_warning }}</p>
	</div>
	{% endif %}
</div><!-- Alerts :: End-->

<!-- Main :: Start-->
<main class="main">
	{{ content_top }}
<!-- 	<div class="row">
	{{ column_left }}
	<div class="col-xl-{{ col }}"> -->
	<!-- Authorization :: Start-->
	<div class="auth">
		<div class="container-fluid">
			<div class="auth__head">
				<h1 class="auth__title">{{ heading_title }}</h1>
				<div class="auth__control">
					<span class="is-md-visible">{{ text_account_have_account }}</span>
					<a class="ui-btn ui-btn--36 ui-btn--primary" href="{{ login }}">{{ text_account_title }} </a>
				</div>
			</div>
			<div class="auth__body">
				<div class="auth__form">
					<form action="{{ action }}" method="post" enctype="multipart/form-data">
						<fieldset id="account" class="ui-fieldset">
							<legend class="ui-legend">{{ text_your_details }}</legend>
							<div class="form-group{% if customer_groups|length <= 1 %} hide{% endif %}">
								<label class="ui-label required">{{ entry_customer_group }}</label>
								<div class="row ui-group{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} is-error{% endif %}">
								{% for customer_group in customer_groups %}
									{% if customer_group.customer_group_id == customer_group_id %}
									<div class="col-auto">
										<label class="ui-check">
											<input class="ui-check__input" name="customer_group_id" type="radio" value="{{ customer_group.customer_group_id }}" checked="checked">
											<span class="ui-check__radio"></span>
											<span class="ui-check__text">{{ customer_group.name }}</span>
										</label>
									</div>
									{% else %}
									<div class="col-auto">
										<label class="ui-check">
											<input class="ui-check__input" name="customer_group_id" type="radio" value="{{ customer_group.customer_group_id }}">
											<span class="ui-check__radio"></span>
											<span class="ui-check__text">{{ customer_group.name }}</span>
										</label>									
									</div>
									{% endif %} 
								{% endfor %} 
								</div>
							</div>

						{% for fieldName in allCustomFields %} 
							{% set fieldNameT = "entry_" ~ fieldName  ~ '_show' %}
							{% set fieldNameR = "entry_" ~ fieldName  ~ '_required' %}
							{% set fieldNameN = "entry_" ~ fieldName  %}
							{% set fieldNameE = "error_" ~ fieldName  %}
							{% set fieldNameV = fieldName  %}
							<div class="form-group{{ not attribute(_context, fieldNameT) ? ' hide' : '' }}">
								<label class="ui-label{{ attribute(_context, fieldNameR)  ? ' required' : ''  }}">{{ attribute(_context, fieldNameN) }}</label>
								<div class="ui-field{% if attribute(_context, fieldNameE) %} is-error{% endif %}">
									{% if (fieldName == 'country') %} 
										<select name="country_id" id="input-country">
											<option value="">{{ text_select }}</option>
											{% for country in countries %} 
											{% if (country['country_id'] == country_id) %} 
											<option value="{{ country['country_id'] }}" selected="selected">{{ country['name'] }}</option>
											{% else %} 
											<option value="{{ country['country_id'] }}">{{ country['name'] }}</option>
											{% endif %} 
											{% endfor %} 
										</select>
									{% elseif (fieldName == 'zone') %}
										<select name="zone_id" id="input-zone"></select>
									{% else %}
										<input class="ui-input" type="text" name="{{ fieldName }}" value="{{ attribute(_context, fieldNameV) }}" placeholder="{{ attribute(_context, fieldNameN) }}" id="input-{{ (fieldName)|replace({'_': '-'}) }}">
									{% endif %}
									{% if attribute(_context, fieldNameE) %} 
										<span class="error ui-error">{{ attribute(_context, fieldNameE) }}</span>
									{% endif %}	
								</div>	
							</div>	
						{% endfor %} 

							{% for custom_field in custom_fields %} 
							{% if (custom_field['type'] == 'select') %} 
							<div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
								<label class="ui-label">{{ custom_field['name'] }}</label>
								<div class="ui-field{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} is-error{% endif %}">
									<select name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" id="input-custom-field{{ custom_field['custom_field_id'] }}">
										<option value="">{{ text_select }}</option>
										{% for custom_field_value in custom_field['custom_field_value'] %} 
										{% if register_custom_field[custom_field.location][custom_field.custom_field_id] and custom_field_value.custom_field_value_id == register_custom_field[custom_field.custom_field_id] %}
										<option value="{{ custom_field_value['custom_field_value_id'] }}" selected="selected">{{ custom_field_value['name'] }}</option>
										{% else %} 
										<option value="{{ custom_field_value['custom_field_value_id'] }}">{{ custom_field_value['name'] }}</option>
										{% endif %} 
										{% endfor %}						
									</select>
									{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
										<span class="error ui-error">{{ error_custom_field[custom_field['custom_field_id']] }}</span>
									{% endif %} 
								</div>
							</div>					
							{% endif %} 
							{% if (custom_field['type'] == 'radio') %} 
							<div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
								<label class="ui-label">{{ custom_field['name'] }}</label>
								<div class="ui-group{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} is-error{% endif %}">
								{% for custom_field_value in custom_field['custom_field_value'] %} 
									{% if (register_custom_field[custom_field['custom_field_id']] is defined and custom_field_value['custom_field_value_id'] == register_custom_field[custom_field['custom_field_id']]) %} 
									<label class="ui-check">
										<input class="ui-check__input" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" type="radio" value="{{ custom_field_value['custom_field_value_id'] }}" checked="checked">
										<span class="ui-check__radio"></span>
										<span class="ui-check__text">{{ custom_field_value['name'] }}</span>
									</label>
									{% else %} 
									<label class="ui-check">
										<input class="ui-check__input" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" type="radio" value="{{ custom_field_value['custom_field_value_id'] }}">
										<span class="ui-check__radio"></span>
										<span class="ui-check__text">{{ custom_field_value['name'] }}</span>
									</label>								
									{% endif %} 
								{% endfor %} 
								{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
								<span class="error ui-error">{{ error_custom_field[custom_field['custom_field_id']] }}</span>
								{% endif %}	
								</div>
							</div>					
							{% endif %} 
							{% if (custom_field['type'] == 'checkbox') %} 
							<div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
								<label class="ui-label">{{ custom_field['name'] }}</label>
								<div class="ui-group{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} is-error{% endif %}">
								{% for custom_field_value in custom_field['custom_field_value'] %} 
									{% if (register_custom_field[custom_field['custom_field_id']] is defined and custom_field_value['custom_field_value_id'] == register_custom_field[custom_field['custom_field_id']]) %} 
									<label class="ui-check">
										<input class="ui-check__input" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}][]" type="checkbox" value="{{ custom_field_value['custom_field_value_id'] }}" checked="checked">
										<span class="ui-check__checkbox"></span>
										<span class="ui-check__text">{{ custom_field_value['name'] }}</span>
									</label>
									{% else %} 
									<label class="ui-check">
										<input class="ui-check__input" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}][]" type="checkbox" value="{{ custom_field_value['custom_field_value_id'] }}">
										<span class="ui-check__checkbox"></span>
										<span class="ui-check__text">{{ custom_field_value['name'] }}</span>
									</label>								
									{% endif %} 
								{% endfor %} 
								{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
								<span class="error ui-error">{{ error_custom_field[custom_field['custom_field_id']] }}</span>
								{% endif %}		
								</div>
							</div>					
							{% endif %} 
							{% if (custom_field['type'] == 'text') %} 
							<div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
								<label class="ui-label">{{ custom_field['name'] }}</label>
								<div class="ui-field{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} is-error{% endif %}">
									<input class="ui-input" type="text" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" value="{{ register_custom_field[custom_field['custom_field_id']] is defined ? register_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}">
									{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
									<span class="error ui-error">{{ error_custom_field[custom_field['custom_field_id']] }}</span>
									{% endif %} 
								</div>
							</div>					
							{% endif %} 
							{% if (custom_field['type'] == 'textarea') %} 
							<div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
								<label class="ui-label ">{{ custom_field['name'] }}</label>
								<div class="ui-field{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} is-error{% endif %}">
									<textarea class="ui-textarea" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" class=" {{ error_custom_field[custom_field['custom_field_id']] is defined ? 'error' : ''}}">{{ register_custom_field[custom_field['custom_field_id']] is defined ? register_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}</textarea>
									{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
									<span class="error ui-error">{{ error_custom_field[custom_field['custom_field_id']] }}</span>
									{% endif %} 
								</div>
							</div>					
							{% endif %} 
							{% if (custom_field['type'] == 'file') %} 
							<div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field" data-sort="{{ custom_field['sort_order'] }}">
								<label class="ui-label">{{ custom_field['name'] }}</label>
								<div class="ui-field{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} is-error{% endif %}">
									<button type="button" id="button-custom-field{{ custom_field['custom_field_id'] }}" data-loading-text="{{ text_loading }}" class="ui-btn ui-btn--36 ui-btn--grey ui-btn--file">{{ button_upload }}</button>
									<input type="hidden" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" value="{{ register_custom_field[custom_field['custom_field_id']] is defined ? register_custom_field[custom_field['custom_field_id']] : '' }}">
									{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
									<span class="error ui-error">{{ error_custom_field[custom_field['custom_field_id']] }}</span>
									{% endif %} 
								</div>
							</div>					
							{% endif %} 
							{% if (custom_field['type'] == 'date') %} 
							<div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field " data-sort="{{ custom_field['sort_order'] }}">
								<label class="ui-label">{{ custom_field['name'] }}</label>
								<div class="ui-field{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} is-error{% endif %}">
									<input class="ui-input date" type="text" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" value="{{ register_custom_field[custom_field['custom_field_id']] is defined ? register_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" data-date-format="{{ date_format }}" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" data-toggle="datetimepicker" data-target=".date">
									{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
									<span class="error ui-error">{{ error_custom_field[custom_field['custom_field_id']] }}</span>
									{% endif %} 
								</div>
							</div>					
							{% endif %} 
							{% if (custom_field['type'] == 'time') %} 
							<div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field " data-sort="{{ custom_field['sort_order'] }}">
								<label class="ui-label">{{ custom_field['name'] }}</label>
								<div class="ui-field{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} is-error{% endif %}">
									<input class="ui-input time" type="text" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" value="{{ register_custom_field[custom_field['custom_field_id']] is defined ? register_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" data-date-format="{{ time_format }}" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" data-toggle="datetimepicker" data-target=".time">
									{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
									<span class="error ui-error">{{ error_custom_field[custom_field['custom_field_id']] }}</span>
									{% endif %} 
								</div>
							</div>					
							{% endif %} 
							{% if (custom_field['type'] == 'datetime') %} 
							<div id="custom-field{{ custom_field.custom_field_id }}" class="form-group custom-field " data-sort="{{ custom_field['sort_order'] }}">
								<label class="ui-label">{{ custom_field['name'] }}</label>
								<div class="ui-field{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} is-error{% endif %}">
									<input class="ui-input datetime" type="text" name="custom_field[{{ custom_field['location'] }}][{{ custom_field['custom_field_id'] }}]" value="{{ register_custom_field[custom_field['custom_field_id']] is defined ? register_custom_field[custom_field['custom_field_id']] : custom_field['value'] }}" data-date-format="{{ datetime_format }}" placeholder="{{ custom_field['name'] }}" id="input-custom-field{{ custom_field['custom_field_id'] }}" data-toggle="datetimepicker" data-target=".datetime">
									{% if (error_custom_field[custom_field['custom_field_id']] is defined) %} 
									<span class="error ui-error">{{ error_custom_field[custom_field['custom_field_id']] }}</span>
									{% endif %} 
								</div>
							</div>					
							{% endif %} 
							{% endfor %}
						</fieldset>
						<fieldset class="ui-fieldset">
							<legend class="ui-legend">{{ text_your_password }}</legend>
								<div class="form-group">
									<label class="ui-label required" for="input-password">{{ entry_password }}</label>
									<div class="ui-field{% if error_password %} is-error{% endif %}">
										<input class="ui-input" type="password" name="password" placeholder="{{ entry_password }}" value="{{ password }}" id="input-password">
										{% if error_password %}
										<span class="error ui-error">{{ error_password }}</span>
										{% endif %} 
									</div>
								</div>	
								<div class="form-group">
									<label class="ui-label required" for="input-confirm">{{ entry_confirm }}</label>
									<div class="ui-field{% if error_confirm %} is-error{% endif %}">
										<input class="ui-input" type="password" name="confirm" placeholder="{{ entry_confirm }}" value="{{ confirm }}" id="input-confirm">
										{% if error_confirm %}
										<span class="error ui-error">{{ error_confirm }}</span>
										{% endif %} 
									</div>
								</div>	
						</fieldset>								
						<fieldset class="ui-fieldset">
							<legend class="ui-legend">{{ text_newsletter }}</legend>
								<div class="form-group">
									<label class="ui-label">{{ entry_newsletter }}</label>
									<div class="row">
										{% if newsletter %}
										<div class="col-auto">
											<label class="ui-check">
												<input class="ui-check__input" name="newsletter" type="radio" value="1" checked="checked">
												<span class="ui-check__radio"></span>
												<span class="ui-check__text">{{ text_yes }}</span>
											</label>
										</div>
										<div class="col-auto">
											<label class="ui-check">
												<input class="ui-check__input" name="newsletter" type="radio" value="0">
												<span class="ui-check__radio"></span>
												<span class="ui-check__text">{{ text_no }}</span>
											</label>
										</div>
										{% else %}
										<div class="col-auto">
											<label class="ui-check">
												<input class="ui-check__input" name="newsletter" type="radio" value="1">
												<span class="ui-check__radio"></span>
												<span class="ui-check__text">{{ text_yes }}</span>
											</label>
										</div>
										<div class="col-auto">
											<label class="ui-check">
												<input class="ui-check__input" name="newsletter" type="radio" value="0" checked="checked">
												<span class="ui-check__radio"></span>
												<span class="ui-check__text">{{ text_no }}</span>
											</label>
										</div>
										{% endif %}
									</div>
								</div>			
						</fieldset>								
						{{ captcha }}
						{% if text_agree %}
						<fieldset class="ui-fieldset">
							<hr>
							<label class="ui-check">
								<input class="ui-check__input" type="checkbox" value="1" name="agree" {{ agree ? 'checked="checked"' : ''}}>
								<span class="ui-check__checkbox"></span>
								<span class="ui-check__text ui-check__text--agree">{{ text_agree }}</span>
							</label>
						</fieldset>
						{% endif %}
						<button type="submit" class="ui-btn ui-btn--primary ui-btn--60 ui-btn--fullwidth">{{ button_continue }}</button>
					</form>
				</div>
			</div>
		</div>
	</div><!-- Authorization :: End-->
<!-- 	</div>
	{{ column_right }}
	</div> -->
	{{ content_bottom }}
</main><!-- Main :: End-->

{{ footer }}
<script>
// Sort the custom fields
$('#account .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
		$('#account .form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#account .form-group').length) {
		$('#account .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#account .form-group').length) {
		$('#account .form-group:first').before(this);
	}
});

$('input[name=\'customer_group_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
		dataType: 'json',
		success: function(json) {
			$('.custom-field').hide();
			$('.custom-field .ui-label').removeClass('required');

			for (i = 0; i < json.length; i++) {
				custom_field = json[i];

				$('#custom-field' + custom_field['custom_field_id']).show();

				if (custom_field['required']) {
					$('#custom-field' + custom_field['custom_field_id']).find('.ui-label').addClass('required');
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('input[name=\'customer_group_id\']:checked').trigger('change');

$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file"></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.ui-error').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<span class="error ui-error">' + json['error'] + '</span>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

if ($('body').is('.bootstrap-5')) {
	$('.date').daterangepicker({
		singleDatePicker: true,
		autoApply: true,
		locale: {
			format: 'YYYY-MM-DD'
		}
	});
	$('.time').daterangepicker({
		singleDatePicker: true,
		datePicker: false,
		autoApply: true,
		timePicker: true,
		timePicker24Hour: true,
		locale: {
			format: 'HH:mm'
		}
	}).on('show.daterangepicker', function (ev, picker) {
		picker.container.find('.calendar-table').hide();
	});
	$('.datetime').daterangepicker({
		singleDatePicker: true,
		autoApply: true,
		timePicker: true,
		timePicker24Hour: true,
		locale: {
			format: 'YYYY-MM-DD HH:mm'
		}
	});
} else {
	$('.date').datetimepicker({
		language: '{{ datepicker }}',
		pickTime: false
	});
	$('.datetime').datetimepicker({
		language: '{{ datepicker }}',
		pickDate: true,
		pickTime: true
	});
	$('.time').datetimepicker({
		language: '{{ datepicker }}',
		pickDate: false
	});
}
		
$('select[name=\'country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=account/account/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('select[name=\'country_id\']').prop('disabled', true);
		},
		complete: function() {
			$('select[name=\'country_id\']').prop('disabled', false);
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('input[name=\'postcode\']').parent().parent().find('.ui-label').addClass('required');
			} else {
				$('input[name=\'postcode\']').parent().parent().find('.ui-label').removeClass('required');
			}
			
			html = '<option value="">{{ text_select }}</option>';
			
			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';
					
					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
						html += ' selected="selected"';
					}
					
					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}
			
			$('select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('select[name=\'country_id\']').trigger('change');
</script>
</body></html>