{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %}

<!-- Alerts :: Start-->
<div class="alerts-wrapper">
	{% if error_warning %}
	<div class="alert alert--red">
		<button class="alert__close">
			<svg class="icon-close-alerts"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-close-alerts"></use>
			</svg>
		</button>
		<p class="alert__text">{{ error_warning }}</p>
	</div>
	{% endif %}
</div><!-- Alerts :: End-->

<!-- Main :: Start-->
<main class="main">
	{{ content_top }}
<!-- 	<div class="row">
	{{ column_left }}
	<div class="col-xl-{{ col }}"> -->
	<!-- Authorization :: Start-->
	<div class="auth">
		<div class="container-fluid">
			<div class="auth__head">
				<h1 class="auth__title">{{ heading_title }}</h1>
			</div>
			<div class="auth__body">
				<div class="auth__form">
					<form action="{{ action }}" method="post" enctype="multipart/form-data">
					<fieldset class="ui-fieldset">
						<p class="ui-caption">{{ text_description }}</p>
						<div class="form-group">
							<label class="ui-label required" for="input-to-name">{{ entry_to_name }}</label>
							<div class="ui-field{% if error_to_name %} is-error{% endif %}">
								<input class="ui-input" type="text" name="to_name" placeholder="{{ entry_to_name }}" value="{{ to_name }}" id="input-to-name">
								{% if error_to_name %}
								<span class="error ui-error">{{ error_to_name }}</span>
								{% endif %} 
							</div>
							</div>	
							<div class="form-group">
								<label class="ui-label required" for="input-to-email">{{ entry_to_email }}</label>
								<div class="ui-field{% if error_to_email %} is-error{% endif %}">
									<input class="ui-input" type="email" name="to_email" placeholder="{{ entry_to_email }}" value="{{ to_email }}" id="input-to-email">
									{% if error_to_email %}
									<span class="error ui-error">{{ error_to_email }}</span>
									{% endif %} 
								</div>
							</div>	
							<div class="form-group">
								<label class="ui-label required" for="input-from-name">{{ entry_from_name }}</label>
								<div class="ui-field{% if error_from_name %} is-error{% endif %}">
									<input class="ui-input" type="text" name="from_name" placeholder="{{ entry_from_name }}" value="{{ from_name }}" id="input-from-name">
									{% if error_from_name %}
									<span class="error ui-error">{{ error_from_name }}</span>
									{% endif %} 
								</div>
							</div>	
							<div class="form-group">
								<label class="ui-label required" for="input-from-email">{{ entry_from_email }}</label>
								<div class="ui-field{% if error_from_email %} is-error{% endif %}">
									<input class="ui-input" type="email" name="from_email" placeholder="{{ entry_from_email }}" value="{{ from_email }}" id="input-from-email">
									{% if error_from_email %}
									<span class="error ui-error">{{ error_from_email }}</span>
									{% endif %} 
								</div>
							</div>	
							<div class="form-group">
								<label class="ui-label required">{{ entry_theme }}</label>
								<div class="ui-field{% if error_theme %} is-error{% endif %}">
									{% for voucher_theme in voucher_themes %}
									{% if voucher_theme.voucher_theme_id == voucher_theme_id %}
									<label class="ui-check">
										<input class="ui-check__input" name="voucher_theme_id" type="radio" value="{{ voucher_theme.voucher_theme_id }}" checked="checked">
										<span class="ui-check__radio"></span>
										<span class="ui-check__text">{{ voucher_theme.name }}</span>
									</label>
									{% else %}
									<label class="ui-check">
										<input class="ui-check__input" name="voucher_theme_id" type="radio" value="{{ voucher_theme.voucher_theme_id }}">
										<span class="ui-check__radio"></span>
										<span class="ui-check__text">{{ voucher_theme.name }}</span>
									</label>
									{% endif %}
									{% endfor %}
									{% if error_theme %}
									<span class="error ui-error">{{ error_theme }}</span>
									{% endif %} 
								</div>
							</div>	
							<div class="form-group">
								<label class="ui-label" for="input-message" data-toggle="tooltip" title="{{ help_message }}">{{ entry_message }}</label>
								<div class="ui-field">
									<textarea class="ui-textarea" name="message" placeholder="{{ entry_message }}" id="input-comment">{{ message }}</textarea>
								</div>
							</div>	
							<div class="form-group">
								<label class="ui-label required" for="input-amount">{{ entry_amount }} ({{ help_amount }})</label>
								<div class="ui-field{% if error_amount %} is-error{% endif %}">
									<input class="ui-input" type="text" name="amount" placeholder="{{ entry_amount }}" value="{{ amount }}" id="input-amount">
									{% if error_amount %}
									<span class="error ui-error">{{ error_amount }}</span>
									{% endif %} 
								</div>
							</div>	
						</fieldset>
						{% if text_prostore_pdata_checkbox %}
						<fieldset class="ui-fieldset">
							<hr>
							<label class="ui-check">
								<input class="ui-check__input" type="checkbox" value="1" name="pdata" {{ pdata ? 'checked="checked"' : ''}}>
								<span class="ui-check__checkbox"></span>
								<span class="ui-check__text ui-check__text--agree">{{ text_prostore_pdata_checkbox }}</span>
							</label>
							{% if error_pdata %}
								<span class="error ui-error">{{ error_pdata }}</span>
							{% endif %} 
						{% endif %}
						{% if text_agree %}
							<label class="ui-check">
								<input class="ui-check__input" type="checkbox" value="1" name="agree" {{ agree ? 'checked="checked"' : ''}}>
								<span class="ui-check__checkbox"></span>
								<span class="ui-check__text ui-check__text--agree">{{ text_agree }}</span>
							</label>
						</fieldset>
						{% endif %}
						<button type="submit" class="ui-btn ui-btn--primary ui-btn--60 ui-btn--fullwidth">{{ button_continue }}</button>
					</form>
				</div>
			</div>
		</div>
	</div><!-- Authorization :: End-->
<!-- 	</div>
	{{ column_right }}
	</div> -->
	{{ content_bottom }}
</main><!-- Main :: End-->
{{ footer }}
</body></html>