<!--- ADDITIONAL ELEMENT --->
<div class="addelem-title">{{text_main_navs_addelem}}</div>
<div class="well-table main_rec_table" style="position: relative;">
	{% for language in languages %} 
	<div class="input-group">
		<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"></span><input type="text" name="theme_prostore_{{type}}[{{ main_nav_row }}][addelem][name][{{ language.language_id }}]" value="{{ main_nav.addelem.name[language.language_id] }}" placeholder="Название допэлемента" class="form-control">
	</div>
	{% endfor %}
	<select name="theme_prostore_{{type}}[{{ main_nav_row }}][addelem][settype]" for="{{ main_nav_row }}" class="form-control main_rec_select_type"> 
		<option value=""> --- Не выбрано --- </option> 
		{% for key,main_rec_type in main_rec_types %} 
		{% if (key|trim is same as(main_nav.addelem.settype)) %} 
		<option value="{{ key }}" selected="selected">{{ main_rec_type }}</option>
		{% else %} 
		<option value="{{ key }}" >{{ main_rec_type }}</option>
		{% endif %} 
		{% endfor %} 
	</select>
	<div  class="main_rec-type-0 main_rec-{{ main_nav_row }}" style="display:{% if (main_nav.addelem.settype is same as('0')) %}block{% else %}none{% endif %}"> 
		<div style="position: relative;">
			<input type="text" name="main_nav[{{ main_nav_row }}][addelem][type][0][linksmain]" for="{{ main_nav_row }}-0" value="" data-for="{{type}}" placeholder="Ссылки" class="form-control main_rec_prods" autocomplete="off">
			<div  class="well well-sm" style="overflow: auto;"> 
				{% if (main_nav.addelem.type[0].links is defined) %} 
				{% for id,link in main_nav.addelem.type[0].links %} 
				
				<div id="main_rec-{{ main_nav_row }}-links-{{ id }}"><i class="fa fa-minus-circle"></i>{{ link }} 
					<input type="hidden" name="theme_prostore_{{type}}[{{ main_nav_row }}][addelem][type][0][links][{{ id }}]" value="{{ link }}">
				</div> 
				
				{% endfor %} 
				{% endif %} 
			</div>
		</div>
	</div>
	
	<div class="main_rec-type-2 main_rec-{{ main_nav_row }}" style="display:{% if (main_nav.addelem.settype == 2) %}block{% else %}none{% endif %}">  
		<div style="position: relative;">
			<input type="text" name="main_rec[{{ main_nav_row }}][type][0][linksmain]" for="{{ main_nav_row }}-0" value="" placeholder="Производители" class="form-control main_rec_manf" data-for="{{type}}" autocomplete="off">
			<div  class="well well-sm" style="overflow: auto;">
				{% if (main_nav.addelem.type[0].manf is defined) %} 
				{% for id,link in main_nav.addelem.type[0].manf %} 
				
				<div id="main_rec-{{ main_nav_row }}-manf-{{ id }}"><i class="fa fa-minus-circle"></i>{{ link }} 
					<input type="hidden" name="theme_prostore_{{type}}[{{ main_nav_row }}][addelem][type][0][manf][{{ id }}]" value="{{ link }}">
				</div> 
				
				{% endfor %} 
				{% endif %} 
			</div>
		</div>
	</div>
	
	<div class="main_rec-type-1 main_rec-{{ main_nav_row }}" style="display:{% if (main_nav.addelem.settype == 1) %}block{% else %}none{% endif %}">
		<ul class="nav nav-tabs addelem_html" role="tablist">
			{% for language in languages %} 
			<li class="nav-item"><a role="tab" href="#theme_prostore_{{type}}_{{ main_nav_row }}_addelem_type_1_html-{{ language.language_id }}" data-toggle="tab" aria-expanded="true"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}"> {{ language['name'] }}</a></li>                         
			{% endfor %} 
		</ul>                  
		<div class="tab-content">                              
			{% for language in languages %} 
			<div role="tabpanel" class="tab-pane" id="theme_prostore_{{type}}_{{ main_nav_row }}_addelem_type_1_html-{{ language.language_id }}">
				
				<div class="input-group"><span class="input-group-addon"><i data-toggle="tooltip" data-original-title="Можно использовать html" class="fa fa-code"></i></span>
					<textarea name="theme_prostore_{{type}}[{{ main_nav_row }}][addelem][type][1][html][{{ language.language_id }}]" rows="5" placeholder="html контент"
					class="form-control code">{{ main_nav.addelem.type[1].html[language.language_id] }}</textarea>
				</div>  
			</div>
			{% endfor %}
		</div>                                  
	</div>                       
</div>
<div class="addelem-title">{{text_main_navs_addelem_banners}}</div>
<div class="well-table" style="position: relative;">
	<input type="text" name="main_nav[{{ main_nav_row }}][addelem][type][0][banners]" for="{{ main_nav_row }}-0" data-for="{{type}}" value="" placeholder="{{ text_table_header_navs_href_0 }}" class="form-control main_rec_banners" autocomplete="off">
	<div  class="well well-sm" style="overflow: auto;">
		{% if (main_nav.addelem.type[0].banners is defined) %} 
		{% for id,banner in main_nav.addelem.type[0].banners %} 
		<div id="main_rec-{{ main_nav_row }}-banners-{{ id }}"><i class="fa fa-minus-circle"></i>{{ banner }} 
			<input type="hidden" name="theme_prostore_{{type}}[{{ main_nav_row }}][addelem][type][0][banners][{{ id }}]" value="{{ banner }}">
		</div> 
		{% endfor %} 
		{% endif %} 
	</div>
</div>                
<!--- ADDITIONAL ELEMENT --->