{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-slideshow" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-slideshow" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if (error_name) %} 
              <div class="text-danger">{{ error_name }}</div>
              {% endif %} 
            </div>
          </div>

		  <div class="form-group required">
			<label class="col-sm-2 control-label" for="input-image-related"><span data-toggle="tooltip" title="" data-original-title="Размер изображения (Ш x В)">Размер (Ш x В)</span></label>
			<div class="col-sm-10">
			<div class="row">
			  <div class="col-sm-6">
			  <input type="text" name="width" value="{{ width }}" placeholder="Ширина" id="input-image-related" class="form-control"  />
			{% if (error_width) %} 
		  <div class="text-danger">{{ error_width }}</div>
		  {% endif %} 
			  </div>
			  <div class="col-sm-6">
			  <input type="text" name="height" value="{{ height }}" placeholder="Высота" class="form-control" />
		  {% if (error_height) %} 
		  <div class="text-danger">{{ error_height }}</div>
		  {% endif %} 
			  </div>

			</div>
			</div>
		  </div> 

		  <div class="form-group">
			<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
			<div class="col-sm-2">
			  <div class="btn-group on-off" data-toggle="buttons">
				<label class="btn btn-default btn-on {{ status == '1' ? 'active' : '' }}">
				  <input value="1" type="radio" name="status" id="status-1" autocomplete="off" {{ status == '1' ? 'checked' : '' }}>Вкл.
				</label>
				<label class="btn btn-default btn-off {{ status == '0' ? 'active' : '' }}">
				  <input value="0" type="radio" name="status" id="status-0" autocomplete="off" {{ status == '' ? 'checked' : '' }}>Откл.
				</label>
			  </div>
			</div>          
		  </div>  
		<div class="form-group contents">
		  {% set keyglob =0 %}
		  {% for key,column in stories_column %}

			<div class="col-sm-12" id="col-{{ key }}">
			  <div class="colcontent">

						<ul class="nav nav-tabs language" >
						  {% for language in languages %} 
						  <li><a href="#language{{key}}-{{ language['language_id'] }}" data-toggle="tab"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
						  {% endfor %} 
						</ul>   
				  <div class="tab-content">

						  {% for language in languages %} 
						  <div class="tab-pane" id="language{{key}}-{{ language['language_id'] }}">
						
						<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading"> 
					<div class="my-group"> 
						<div class="row">
							<div class="col-sm-2">
							<a href="" id="thumb-image-{{ key }}-thumb-{{ language['language_id'] }}" data-toggle="image" class="img-thumbnail"><img src="{{ column.language[language['language_id']].thumb is  defined ? column.language[language['language_id']].thumb : placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="stories_column[{{ key }}][language][{{ language['language_id'] }}][image]" value="{{ column.language[language['language_id']].image }}" id="input-image{{ key }}-thumb-{{ language['language_id'] }}" />
							</div>
							<div class="col-sm-8">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label>{{ entry_date_start }}</label>
											<div class="input-group date">
											<input type="text" name="stories_column[{{ key }}][language][{{ language['language_id'] }}][date_start]" value="{{ column.language[language['language_id']].date_start }}" placeholder="{{ entry_date_start }}" data-date-format="YYYY-MM-DD"  class="form-control" />
											<span class="input-group-btn">
											<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label>{{ entry_date_end }}</label>
											<div class="input-group date">
											<input type="text" name="stories_column[{{ key }}][language][{{ language['language_id'] }}][date_end]" value="{{ column.language[language['language_id']].date_end }}" placeholder="{{ entry_date_end }}" data-date-format="YYYY-MM-DD"  class="form-control" />
											<span class="input-group-btn">
											<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
											</span>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label>Сортировка</label>
											<input type="text" name="stories_column[{{ key }}][language][{{ language['language_id'] }}][sort_order]" value="{{ column.language[language['language_id']].sort_order }}" placeholder="{{ Сортировка }}" class="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-2 text-right">
								<div class="form-group">
								<label style="display: block;">&nbsp;</label>
									<button type="button" onclick="$('#col-{{key}}, .tooltip').remove();" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="{{ text_remove_col }}"><i class="fa fa-minus-circle"></i> <span class="hidden-xs">{{ text_remove_col }} </span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Table -->
				<div class="table-responsive">
							<table id="images{{ key }}-{{ language['language_id'] }}" class="table table-striped table-bordered table-hover table-prostore_stories">
							  <thead>
								<tr>
								  <td class="text-center">Изображение</td>
								  <td class="text-left" style="display: none;">Размер (Ш x В)</td>
								  <td class="text-left">Текст</td>
								  <td class="text-left">Настройка текста</td>
								  <td class="text-left">Ссылка</td>       
								  <td class="text-left">Сортировка</td>
								  <td></td>
								</tr>
							  </thead>
							  <tbody>
					  {% set prostore_stories_row = 0 %} 
								{% if (column.stories_images is defined) %} 
								{% for i,stories_image in column.stories_images %} 
								<tr id="image-row{{key}}-{{ i }}-{{ language['language_id'] }}" class="rowcontent image-row{{key}}-{{ i }}">
								   <td class="text-center"><a href="" id="thumb-image-{{ key }}-{{ i }}-{{ language['language_id'] }}" data-toggle="image" class="img-thumbnail"><img src="{{ stories_image['language'][language['language_id']]['thumb'] is  defined ? stories_image['language'][language['language_id']]['thumb'] : placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="stories_column[{{ key }}][stories_image][{{ i }}][language][{{ language['language_id'] }}][image]" value="{{ stories_image['language'][language['language_id']]['image'] }}" id="input-image{{ key }}-{{ i }}-{{ language['language_id'] }}" /></td>
						 
						<td class="text-left" style="display: none;"><input type="text" name="stories_column[{{ key }}][stories_image][{{ i }}][language][{{ language['language_id'] }}][width]" value="{{  stories_image['language'][language['language_id']]['width']  }}" placeholder="Ширина" class="form-control" />
							<input type="text" name="stories_column[{{ key }}][stories_image][{{ i }}][language][{{ language['language_id'] }}][height]" value="{{  stories_image['language'][language['language_id']]['height']  }}" placeholder="Высота" class="form-control"  /></td>
							
						<td class="text-left"><input style="display: none;" type="text" name="stories_column[{{ key }}][stories_image][{{ i }}][language][{{ language['language_id'] }}][title]" value="{{ stories_image['language'][language['language_id']]['title'] }}" placeholder="Текст 1 (alt)" class="form-control" />
					  <input style="display: none;" type="text" name="stories_column[{{ key }}][stories_image][{{ i }}][language][{{ language['language_id'] }}][text_big]" value="{{  stories_image['language'][language['language_id']]['text_big'] }}" placeholder="Текст 2" class="form-control" />
					  <input type="text" name="stories_column[{{ key }}][stories_image][{{ i }}][language][{{ language['language_id'] }}][text_small]" value="{{  stories_image['language'][language['language_id']]['text_small'] }}" placeholder="Текст кнопки" class="form-control" /></td>

					   <td class="text-right">
						  <select name="stories_column[{{ key }}][stories_image][{{ i }}][language][{{ language['language_id'] }}][text_position]" class="form-control">
							<option value="1" {{ stories_image['language'][language['language_id']]['text_position'] == '1' ? 'selected="selected"' : '' }}>Блок вверху</option>
							<option value="2" {{ stories_image['language'][language['language_id']]['text_position'] == '2' ? 'selected="selected"' : '' }}>Блок внизу</option>            
						  </select>
						  <select name="stories_column[{{ key }}][stories_image][{{ i }}][language][{{ language['language_id'] }}][text_color]" class="form-control">
							<option value="1" {{ stories_image['language'][language['language_id']]['text_color'] == '1' ? 'selected="selected"' : '' }}>Темный цвет</option>
							<option value="2" {{ stories_image['language'][language['language_id']]['text_color'] == '2' ? 'selected="selected"' : '' }}>Светлый цвет</option>             
						  </select>
						</td>

						 <td class="text-left"><input type="text" name="stories_column[{{ key }}][stories_image][{{ i }}][language][{{ language['language_id'] }}][link]" value="{{ stories_image['language'][language['language_id']]['link'] }}" placeholder="Ссылка" class="form-control" /></td>

						 <td class="text-right" style="width: 10%;"><input type="text" name="stories_column[{{ key }}][stories_image][{{ i }}][language][{{ language['language_id'] }}][sort_order]" value="{{ stories_image['language'][language['language_id']]['sort_order'] }}" placeholder="Сортировка" class="form-control" /></td>
						
								  <td class="text-left"><button type="button" onclick="$('.image-row{{key}}-{{ i }}, .tooltip').remove();" data-toggle="tooltip" title="Удалить картинку" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
								</tr>
								{% set prostore_stories_row = prostore_stories_row +1 %}
								{% endfor %} 
								{% endif %} 
							  </tbody>
							  <tfoot>
								<tr>
								  <td colspan="5"></td>
								  <td class="text-left"><button type="button" onclick="addImage('{{ language['language_id'] }}',{{key}},{{prostore_stories_row}});" data-toggle="tooltip" title="Добавить картинку" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
								</tr>
							  </tfoot>
							</table>
						  
					</div>
				<!-- End Table -->
			  </div>

	 
						  </div>
						  {% set keyglob = key+1 %}
						  {% endfor %} 
					</div>
				   </div>
				  </div>  
			   {% endfor %} 
			</div> 
         
         <button type="button" onclick="addColumn({{keyglob}});" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="{{ text_add_col }}"><i class="fa fa-plus-circle"></i> <span class="hidden-xs">{{ text_add_col }}<span></button>

        </form>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript"><!--
$(document).ready(function() {
    $('.language').each(function(indx, element){
         $(this).find('a:first').tab('show');
    }); 
	dateTime();
});

	function dateTime() {
		$('.date').datetimepicker({
			language: '{{ datepicker }}',
			pickTime: false
		});
	}

function addImage(language_id,column,row) {
    var row = $('#images'+column+'-'+language_id+' tbody tr').length;
    $.ajax({
      url: 'index.php?route=extension/module/prostore_stories&user_token={{ user_token }}&module_id={{module_id}}&column='+column+'&row='+row,
      cache: false,
      success: function(html){ 
        var source = $('<div>' + html + '</div>').find('#image-row'+column+'-'+row+'-'+language_id).html();
        var row_html = '<tr id="image-row'+column+'-'+row+'-'+language_id+'" class="rowcontent image-row'+column+'-'+row+'">'+source+'</tr>';
        $('#images'+column+'-'+language_id+' tbody').append(row_html); 
		
      }
    });
	
}
var column = {{ keyglob }};
function addColumn() {
    $('.contents').append('<div class="col-sm-12" id="col-'+column+'"></div>');
    $('#col-'+ column).load('index.php?route=extension/module/prostore_stories&user_token={{ user_token }}&module_id={{module_id}}&column='+column+' .colcontent',function(){
        $('.language').each(function(indx, element){
             $(this).find('a:first').tab('show');
        }); 
	dateTime();
    });
    column++;
}
//--></script>  
{{ footer }}