{% for orientType,template in orientTypes %}
	{% if (orientType == 'main_navs_v' and not (mobile_menu and mobile_menu_array.catalog)) %}
	<!-- Если отключено фиксированное меню в футере - оборачиваем вертикальное меню в отдельный пункт Каталог -->
		<li>
			<a class="header__catalog-link" href="#">
				<span class="header__catalog-link-icon">
					<svg class="icon-nav-catalog"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-nav-catalog"></use>
					</svg>
				</span>
				<span class="header__catalog-link-text">{{ text_header_catalog }}</span>
				<span class="header__catalog-link-arrow">
					<svg class="icon-arrow-right"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-right"></use>
					</svg>
				</span>
			</a>
			<div class="header__catalog-dropdown">
				<button class="header__catalog-back">
					<svg class="icon-arrow-left"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-left"></use></svg>{{ text_header_catalog }}
				</button>
				<ul class="header__catalog-menu">
	<!-- Если отключено фиксированное меню в футере - оборачиваем вертикальное меню в отдельный пункт Каталог -->
	{% endif %}

	{% for main_nav in _context[orientType] %}
		{% set orientSymbol = 'main_navs_v' in orientType ? 'v' : 'h' %}

    {% if (main_nav.settype == 0 or main_nav.settype == 3) %} 
		{% for key,link in main_nav.type[0].links if categories['categoriesls'][key|slice(1)] is defined %} 
        {% set cat_id = key|slice(1) %}    
		{% if (not categories['categoriesls'][cat_id]['childrencount']) %}
            <li>
				<a class="header__catalog-link" href="{{ categories['categoriesls'][cat_id]['href'] }}">
					{% if (nav_icons[key]['image'][orientSymbol][main_nav.id]) %}
						<span class="header__catalog-link-icon">
							{{ nav_icons[key]['image'][orientSymbol][main_nav.id]}}
						</span>
					{% endif %}					
				<span class="header__catalog-link-text">{{ categories['categoriesls'][cat_id]['name'] }}</span>
				</a>
			</li>
		{% else %} 
            <li><a class="header__catalog-link" href="{{ categories['categoriesls'][cat_id]['href'] }}">
					{% if (nav_icons[key]['image'][orientSymbol][main_nav.id]) %}
						<span class="header__catalog-link-icon">
							{{ nav_icons[key]['image'][orientSymbol][main_nav.id]}}
						</span>
					{% endif %}
					<span class="header__catalog-link-text">{{ categories['categoriesls'][cat_id]['name'] }}</span>
					<span class="header__catalog-link-arrow">
						<svg class="icon-arrow-right"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-right"></use>
						</svg>
					</span>
				</a>
				<div class="header__catalog-dropdown">
					<button class="header__catalog-back">
						<svg class="icon-arrow-left"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-left"></use></svg>{{ categories['categoriesls'][cat_id]['name'] }}
					</button>
					<ul class="header__catalog-menu">
					{% for category in categories['categoriesls'][cat_id]['children'] %} 
						{% if (category['children']) %} 
						<li>
							<a class="header__catalog-link" href="{{ category['href'] }}">
								<span class="header__catalog-link-text">{{ category['name'] }}</span>
								<span class="header__catalog-link-arrow">
									<svg class="icon-arrow-right"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-right"></use>
									</svg>
								</span>
							</a>
							<div class="header__catalog-dropdown">
								<button class="header__catalog-back">
									<svg class="icon-arrow-left"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-left"></use></svg>{{ category['name'] }}
								</button>
								<ul class="header__catalog-menu">
								{% for category3 in category['children'] %}
									{% if (category3['children']) %}
									<li>
										<a class="header__catalog-link" href="{{ category3['href'] }}">
											<span class="header__catalog-link-text">{{ category3['name'] }}</span>
											<span class="header__catalog-link-arrow">
												<svg class="icon-arrow-right"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-right"></use>
												</svg>
											</span>
										</a>
										<div class="header__catalog-dropdown">
											<button class="header__catalog-back">
												<svg class="icon-arrow-left"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-left"></use></svg>{{ category['name'] }}
											</button>
											<ul class="header__catalog-menu">
												{% for category4 in category3['children'] %}
												<li>
													<a class="header__catalog-link" href="{{ category4['href'] }}">
													<span class="header__catalog-link-text">{{ category4['name'] }}</span>
													</a>
												</li>
												{% endfor %}
												<li>
													<a class="header__catalog-link header__catalog-link--more" href="{{ category3['href'] }}">
													<span class="header__catalog-link-text">{{ text_show_more }}</span>
													</a>
												</li>
											</ul>
										</div>
									</li>
									{% else %}
									<li><a class="header__catalog-link" href="{{ category3['href'] }}">
										<span class="header__catalog-link-text">{{ category3['name'] }}</span>
										</a>
									</li>
									{% endif %}
								  {% endfor %}
								  <li><a class="header__catalog-link header__catalog-link--more" href="{{ category['href'] }}">{{ text_show_more }}</a></li>
								</ul>
							</div>
						</li>
						{% else %} 
						<li>
							<a class="header__catalog-link" href="{{ category['href'] }}">
							<span class="header__catalog-link-text">{{ category['name'] }}</span>
							</a>
						</li>
						{% endif %}
					{% endfor %}
						<li>
							<a class="header__catalog-link header__catalog-link--more" href="{{ categories['categoriesls'][cat_id]['href'] }}">
							<span class="header__catalog-link-text">{{ text_show_more }}</span>
							</a>
						</li>
					</ul>                                       
				</div>
            </li>
		{% endif %} 
		{% endfor %}
    {% elseif (main_nav.settype == 1) %} 
		<li><a class="header__catalog-link" href="{{main_nav.type[main_nav.settype].language[language_id].href }}">
				{% if (nav_icons['custom_drop']['image'][orientSymbol][main_nav.id]) %}
					<span class="header__catalog-link-icon">
						{{ nav_icons['custom_drop']['image'][orientSymbol][main_nav.id]}}
					</span>
				{% endif %}
				<span class="header__catalog-link-text">{{ main_nav.type[main_nav.settype].language[language_id].name }}</span>
				<span class="header__catalog-link-arrow">
					<svg class="icon-arrow-right"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-right"></use>
					</svg>
				</span>
			</a>
			<div class="header__catalog-dropdown">
				<button class="header__catalog-back">
					<svg class="icon-arrow-left"><use xlink:href="catalog/view/theme/prostore/sprites/sprite.svg#icon-arrow-left"></use></svg>{{ main_nav.type[main_nav.settype].language[language_id].name }}
				</button>
				<ul class="header__catalog-menu">
					{% for id,link in main_nav.type[main_nav.settype].links %} 
					<li>
						<a class="header__catalog-link" href="{{ link }}" {% if (main_nav.type[main_nav.settype].target[id]) %} {{ 'target="'~main_nav.type[main_nav.settype].target[id]~'"' }}{% endif %}>
						<span class="header__catalog-link-text">{{ main_nav.type[main_nav.settype].name[id] }}
						</a>
					</li>
					{% endfor %}
					{% if (main_nav.type[main_nav.settype].language[language_id].href != '#') %}
					<li>
						<a class="header__catalog-link header__catalog-link--more" href="{{ main_nav.type[main_nav.settype].language[language_id].href }}">
						<span class="header__catalog-link-text">{{ text_show_more }}</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</li>
    {% elseif (main_nav.settype == 2) %} 
		{% for id,link in main_nav.type[main_nav.settype].links if main_nav.type[main_nav.settype].name[id] %} 
			<li>
				<a class="header__catalog-link" href="{{ link }}">
					{% if (nav_icons[id]['image'][orientSymbol][main_nav.id]) %}
						<span class="header__catalog-link-icon">
							{{ nav_icons[id]['image'][orientSymbol][main_nav.id]}}
						</span>
					{% endif %}					
				<span class="header__catalog-link-text">{{  main_nav.type[main_nav.settype].name[id] }}</span>
				</a>
			</li>
		{% endfor %}
    {% endif %}
	{% endfor %}

	{% if (orientType == 'main_navs_v' and not (mobile_menu and mobile_menu_array.catalog)) %}
	<!-- Если отключено фиксированное меню в футере - оборачиваем вертикальное меню в отдельный пункт Каталог -->
			</ul>	
		</div>	
	</li>
	<!-- Если отключено фиксированное меню в футере - оборачиваем вертикальное меню в отдельный пункт Каталог -->
    {% endif %}
{% endfor %}