{% if languages|length > 1 %}
<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
	<div class="header__language">
		<div class="header__language-offcanvas-content">
			<ul class="header__language-menu">
				{% for language in languages %}
					<a data-lang="{{ language.code }}" class="header__language-link language-select" href="#">{{ language.name }}</a>
				{% endfor %}
				<li>
					<button class="header__language-link header__language-link--close js-language-trigger">{{ text_prostore_menu_close }}</button>
				</li>
			</ul>
		</div>
	</div>
	<input type="hidden" name="code" value="">
	<input type="hidden" name="redirect" value="{{ redirect }}">
</form>
{% endif %}
