{{ header }}
<!-- Maintenance :: Start-->
<h1 class="tech__title">{{ text_prostore_maintenance_message1 }}</h1>
<p class="tech__text">{{ text_prostore_maintenance_message2 }}</p>
{% if social_navs is not empty %}
<ul class="tech__social">
	{% for key,social_nav in social_navs %}
	<li>
		<a class="tech__social-link" href="{{ social_nav.link }}" target="{{ social_nav.attr }}" rel="nofollow">
			<img src="catalog/view/theme/prostore/images/icons/social/{{ social_links[social_nav.settype]|lower|replace({' ': '_'}) }}.svg" alt="{{ social_nav.language[language_id].name }}" title="{{ social_nav.language[language_id].name }}" width="44" height="44">
		</a>
	</li>
	{% endfor %}
	<li>
</ul>
{% endif %}
<!-- Maintenance :: End-->
{{ footer }}